mixin defaultDialog
    dialog.mdl-dialog.default-dialog(id="default-dialog")
        h4.mdl-dialog__title Set all camera settings?
        .mdl-dialog__content
            p
                | This will set all other camera settings to be the current selected.
            .mdl-dialog__actions
                button.mdl-button.set Set
                button.mdl-button.close Cancel