mixin switch(text, name, index)
    label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for=name + "-" + index id=name + '-label' + '-' + index)
        input.mdl-switch__input(type="checkbox" id=name + "-" + index)
        span.mdl-switch__label= text