[Unit]
Description=Web Based UVC Control Driver for the DeepWater Exploration exploreHD and HDCam.

[Service]
Type=simple
TimeoutStartSec=0
Restart=on-failure
ExecStart=/usr/bin/docker start dwe-controls

[Install]
WantedBy=multi-user.target
