header.mdl-layout__header
    .mdl-layout__header-row
        span.mdl-layout-title
            | exploreHD Driver Config
        .mdl-layout-spacer
        nav.mdl-navigation.mdl-layout--large-screen-only
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored Restart Service
.mdl-layout__drawer
    span.mdl-layout-title
        | Driver UI
    nav.mdl-navigation
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='https://exploredeepwater.com' target='_blank') Site
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='https://github.com/DeepWaterExploration/exploreHD_controls' target='_blank') Help