extends layout
include ../includes/explorehd
include ../includes/defaultDialog

block content
    .mdl-grid
        .mdl-cell.mdl-cell--12-col
            each val, index in devices
                +exploreHD(val, index)
    +defaultDialog
    script(src="/js/explorehd.js")